
{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow-lg" style="width: 400px;">
        <h2 class="text-center mb-4" id="form-title">Connexion</h2>

        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <form id="login-form" method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Email</label>
                <input type="email" name="_username" id="username" class="form-control" value="{{ last_username }}" required autofocus>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Mot de passe</label>
                <input type="password" name="_password" id="password" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-primary w-100">Se connecter</button>
            <p class="text-center mt-3">
                Pas encore inscrit ? <a href="{{ path('inscription')}}">Créer un compte</a>
            </p>
        </form>
    </div>
</div>
{% endblock %}
